{% extends 'base.html.twig' %}

{% block title %}New FeesValue{% endblock %}

{% block body %}
    <h1>Create new FeesValue</h1>

    {{ include('fees_value/_form.html.twig') }}

    <a href="{{ path('fees_value_index') }}">back to list</a>
{% endblock %}
